groq
deep-translator
streamlit
ffmpeg
pandas
pydub>=0.25.1
langdetect
requests
typing
moviepy==1.0.3
decorator
imageio
imageio-ffmpeg
numpy
Pillow
proglog
tqdm
beautifulsoup4>=4.9.3
requests>=2.25.1
langchain_core
pydantic
langchain_groq 
lxml
instaloader